<div class="container">
	<div class="card">
		<div class="card-header">
			{{titulo}}
		</div>
		<div class="card-block">
			<form novalidate #f="ngForm">
				<div class="form-group">
					<label for="id">Id</label>
					<input type="number" class="form-control" id="id" [(ngModel)]="inventario.id" name="id" #id="ngModel" required>
					<div *ngIf="id.errors && id.touched">
						<div *ngIf="id.errors.required" class="alert alert-danger">
							El campo es requerido
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="producto">Producto</label>
					<input type="text" class="form-control" id="producto" [(ngModel)]="inventario.producto" name="producto" #producto="ngModel" required>
					<div *ngIf="producto.errors && producto.touched">
						<div *ngIf="producto.errors.required" class="alert alert-danger">
							El campo es requerido
						</div>
						<div *ngIf="producto.errors.maxlength" class="alert alert-danger">
							El nombre debe tener a lo mucho 10 caracteres
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="existencia">Existencia</label>
					<input type="number" class="form-control" id="existencia" [(ngModel)]="inventario.existencia" name="existencia" #existencia="ngModel" required>
					<div *ngIf="existencia.errors && existencia.touched">
						<div *ngIf="existencia.errors.required" class="alert alert-danger">
							El campo es requerido
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="precio">Precio</label>
					<input type="number" class="form-control" id="precio" [(ngModel)]="inventario.precio" name="precio" #precio="ngModel" required>
					<div *ngIf="precio.errors && precio.touched">
						<div *ngIf="precio.errors.required" class="alert alert-danger">
							El campo es requerido
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="proveedor">Proveedor</label>
					<input type="text" class="form-control" id="proveedor" [(ngModel)]="inventario.proveedor" name="proveedor" #proveedor="ngModel" required>
					<div *ngIf="proveedor.errors && proveedor.touched">
						<div *ngIf="proveedor.errors.required" class="alert alert-danger">
							El campo es requerido
						</div>
					</div>
				</div>
				<button class="btn btn-default" (click) = "guardarInventario()" [disabled] = "!f.control.valid">Submit</button>
				<button class="btn btn-default" (click) = "cleanform(f)" [disabled] = "!f.control.valid">Clean</button>
			</form>
		</div>
	</div>
</div>